
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
a{
    text-decoration: none!important;
}
@media (min-width: 576px){
.container {
    width: 100%;
max-width: 576px; 

  
    height: 100%;
    margin: auto;
}
}
@media (max-width: 576px){
    .container {
        width: 100%;
    max-width: 576px; 
    
      
        height: 100%;
        margin: auto;
    }
    }
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex1{
  
        display: flex;
        align-items: center;
   
}
.button1 .btn {
    background: #2AA952;
box-shadow: 0px 4px 8px rgba(211, 38, 38, 0.25);
border-radius: 10px;
font-family: Source Sans Pro;
font-style: normal;
font-weight: 600;
font-size:20px;
line-height: 20px;
width: 100%;
margin: 30px 0px 0px 0px;

padding: 16px 25px;
border-color: #2AA952;
display: block;
border: 1px solid #2AA952;
cursor: pointer;
color: #FFFFFF;
}
.button2 .btn{
    background: #FF3A44;
    box-shadow: 0px 4px 8px rgba(211, 38, 38, 0.25);

    border-radius: 10px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size:20px;
    line-height: 20px;
    
    color: #FFFFFF; 

    font-family: Source Sans Pro;

align-items: center;
text-align: center;

width: 100%;
margin: 14px 0px 40px 0px;

padding: 16px 25px;
border-color: #FF3A44;
display: block;
border: 1px solid #FF3A44;
cursor: pointer;
}
.button3 .btn{
    background: #34C759;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 10px;
font-family: Source Sans Pro;
font-style: normal;
font-weight: 600;
font-size:20px;
line-height: 20px;

color: #FFFFFF; 

font-family: Source Sans Pro;

align-items: center;
text-align: center;

width: 100%;
margin: 14px 0px 40px 0px;

padding: 16px 25px;
border-color: #34C759;
display: block;
border: 1px solid #34C759;
cursor: pointer
}

.tabs{
    background: #121212;
    mix-blend-mode: normal;
    opacity: 0.2;
    border-radius: 5px;
position: absolute;
top: 48px;
left: 138px;
padding: 8px 12px;
}
.tabs h2{
    font-family: Source Sans Pro;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;

    
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
    
    mix-blend-mode: normal;


}

.withbattrymap{
    height: 100%;
    width: 100vw;
 
    overflow: hidden;

    background: rgba(38, 58, 82, 0.7);
    backdrop-filter: blur(10.8731px);
  }
  .withbattrymap img{
    object-fit: cover;
  }
.bg1{
    height: 35vh;
    width: 100vw;
    background: rgba(38, 58, 82, 0.7);
    backdrop-filter: blur(10.8731px);
}

    .bg1 .map img .map-bg{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .bg1 .map .map-bg{
        height: 35vh;
        width: 100vw;
    }
  .bg1  .map-bg img{
    height: 35vh;
    width: 100vw;
    object-fit: cover;
    object-position: center center;
  }  
 .vehiclemap{
    height: 16vh;
    width: 100vw;
 
    overflow: hidden;

    background: rgba(38, 58, 82, 0.7);
    backdrop-filter: blur(10.8731px);

  }
  .vehiclemap img{
    object-fit: cover;
  }
  /* .addvehicle{
    height: 100%;
    width: 100vw;
 
  } */
/*
**********************************
PAGE NO 1 
**********************************
*/






/* 
**********************************
HOME PAGE
**********************************
*/





.fa-angle-right:before {
    content: "\f105";
    color: #003C57;
}
.top-header{
    background: linear-gradient(245.35deg, #336379 -28.33%, #003C57 84.14%);
}

.main-header
{
    background-image: url("./img/BG\ \(2\).png");
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-header ::before{
    content: "";
    position: absolute;

  background-position: top;
  background-repeat: repeat;
    background: linear-gradient(270deg, rgba(3, 62, 89, 0.00319941) 19.79%, #033E59 78.13%);
    transform: matrix(0, 1, 1, 0, 0, 0);
    opacity: 0.1;
}

.header-inner{
padding: 50px 16px;
}
.top-header-content{
 padding: 38px 16px 27px 16px;
}
.top-header-content h4{
    font-family: 'Racing Sans One', cursive;
    font-weight: bold;
    font-size: 32px;
    line-height: 110%;
text-transform: capitalize;
    color: #FFFFFF;
    letter-spacing: 2px;
    

}
.top-header-content h3{
    font-family: 'Racing Sans One', cursive;;
    font-weight: bold;
    font-size: 32px;
    line-height: 150%;
    text-transform: capitalize;
    color: #EFA41F;
    letter-spacing: 2px;
}

/*  */
#input-container {
    position: relative;
    margin-top: 20px;
  }
  
  #input-container > img {
    position: absolute;
    top: 12px;
    left: 15px;
  }
  
  #input-container > input {
    padding-left: 40px;
  }
  
.add-vehicle{
    padding: 15px 24px;
}
/* .add-vehicle .select-vehicle

{


    border-bottom: 1px solid #EAEAEA;
    padding: 19px 0px;
} */
/* .select-vehicle{
    padding-bottom: 38px;
} */
.add-vehicle .select-vehicle h4,h5 {
  padding-left: 11px;

}
.add-vehicle .select-vehicle h4{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    color: #003C57;
}
.add-vehicle .select-vehicle h5{
    font-family: Source Sans Pro;
font-weight: 400;
font-size: 14px;
line-height: 120%;
color: #1D262C;
}
.add-vehicle .select-vehicle span{
    font-family: Source Sans Pro;
font-weight: 400;
font-size: 12px;
line-height: 120%;
color: #7D7987;
padding-top: 4px;
}
.add-vehicle .second-address h5{
    font-family: Source Sans Pro;
font-weight: normal;
font-size: 14px;
line-height: 120%;
color: #003C57;

flex: none;
order: 1;
flex-grow: 0;
margin: 0px 8px;

}


/*  */
.select-vehicle  .rec-vehicle{
    color: #000000;
    padding: 8px 0px;
}

.menu-icons img{
    margin-right: 24px;
}
.morebattery-title{
    padding-left: 0px;
}
.select-battry h2{

font-family: Source Sans Pro;

font-weight: bold;
font-size: 16px;
line-height: 120%;


display: flex;
align-items: center;


color: #FFFFFF;
}


/* WITH BATTERY */
.with-battery{
    margin: 10px 16px;
}
.search-botom {
    position: absolute;
    bottom: 8px;
    left: 14px;
}
.search-botom input{
 
    background: #FFFFFF;
    border-radius: 12px;
    padding: 0.375rem 2.25rem 0.375rem 0.25rem;
    line-height: 120%;
    border-color: #FFFFFF;
    border: 1px solid#FFFFFF;
    width: 348px;
    max-width: 348px;
    height: 48px;
    min-height: 48px;
    font-family: Source Sans Pro;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #7D7987;
}


/* SUCESS */
.sucess{
    padding: 10px 84px;
}

.center h1 {
    font-family: Source Sans Pro;
    font-weight: 600;
    font-size: 34px;
    line-height: 34px;
    display: flex;
    align-items: center;
    color: #000000;
    text-align: center;
    justify-content: center;
    padding: 0px 0px 11px 0px;
  }
  .center p{
    font-family: Source Sans Pro;
    font-weight: 00;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    
    color: #000000;
  }
  .sucess img { 
    display: block;
    margin: 30px auto;
    width: 100%;
  }
  .sub-btn{
      margin: 10px 16px;
  }

  

  /* ADD NEW VEHICLE */
  .add-vehicle .input-details .title{
    font-family: Source Sans Pro;

    font-weight: 600;
    font-size: 14px;

    
    display: flex;
    align-items: center;

    color: #3B3B3C;

    flex: none;
    order: 0;
    flex-grow: 0;
  
  }
  .add-vehicle .input-details #input-container > select {
    
      margin-bottom: 20px;
  }

  /* Login Screen */

  .inner-header .arrowicon a img{
      
    padding: 47px 0px 13px 8px;

  }
  .loginform{
    
        height: 100vh;

}


.login{
    padding: 20px 10px 40px 10px;
    font-family: Source Sans Pro;

    font-size: 34px;
    line-height: 34px;


    font-weight: 900;

    color: #222222;
    
}
.form-wrapper {
    margin: 10px;
  }
  .full-input {
    display: inline-block;
    padding: 20px 25px;
    border: 0px;
    background-color:#ffffff;
    margin-bottom: 20px;
    width: 100%;
    height: 60px;
    min-height: 60px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 6px;
  }
  .form-wrapper input {
    outline: none;
    border: none;
    display:block;
    line-height: 1.2em;
    font-size: 14px;
    background-color: transparent;
    width: 100%;
    background: #FFFFFF; 
    border-radius: 12px;


    border-color: #FFFFFF;
    border: 1px solid#FFFFFF;
  
    font-family: Source Sans Pro;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #7D7987;
  }

  label {
    display: block;
    font-size: 12px;
    color: #77838F;
    padding-bottom: 5px;
  }
  .forget-pass a {
       
    font-family: Source Sans Pro;

    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;

    color: #222222;
    text-decoration: none;
   display: flex;
   justify-content: flex-end;
   margin-bottom: 30px;
}
.login-btn .login{
    background-color: #F15422;
    color: #ffffff;
    margin-top: 28px;
    margin-bottom: 40px;
    border-radius: 10px;
    padding: 13px 25px;
    display: block;
    width: 100%;
    cursor: pointer;
    border:#F15422 ;
}
.ortext{
    text-align: center;
    font-family: Source Sans Pro;
font-weight: normal;
font-size: 16px;
line-height: 140%;
color: #000000;
}

.login-btn p a{
    font-family: Source Sans Pro;

    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
 text-decoration: none;
    color: #003C57;
}

/*
*************************************
LOGIN-FORM END
************************************
*/


/* **********************************************************************************
TECHNICIAN >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

**************************************************************************************/
/*  ORDER  PAGE>>
 Torder.HTML
*/
.inner-cards{
    background: #FFFFFF;
box-shadow: 0px 1px 24px rgba(0, 0, 0, 0.12);
border-radius: 8px;
padding: 19px 18px;
margin: 18px 17px;
}
.inner-cards .flex{
    align-items: baseline;
}
.tag-btn{
    margin: 15px 18px 19px 18px;
}
.tag-btn .filterbutton{

    background: #222222;
    border-radius: 29px;
	border:1px solid #222222;
    transition-duration: 0.4s;
    color: #FFFFFF;
}
.filterbutton{
   font-family: Source Sans Pro;

	display:inline-block;
	cursor:pointer;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    width:100px;
    text-align: center;
    padding: 6px 0px;
	text-decoration:none;
    margin-right: 10px;
 
    vertical-align: middle;
}
.details{
    padding-bottom: 16px;
  
}
.details h1{
   font-family: Source Sans Pro;
font-weight: 500;
font-size: 16px;
line-height: 16px;
color: #222222;
padding-bottom: 15px;
}
.details h2{
   font-family: Source Sans Pro;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #222222;
    padding-bottom: 2px;
}
.details h3{
   font-family: Source Sans Pro;
font-weight: 500;
font-size: 14px;
line-height: 14px;
color: #222222;
}
.details span{
font-weight: normal;
font-size: 14px;
line-height: 20px;
color: #9B9B9B;
}
.details-date p{
   font-family: Source Sans Pro;
font-weight: normal;
font-size: 14px;
line-height: 20px;
color: #9B9B9B;
}
.details-btn a {
    
    border-radius: 28px;
   font-family: Source Sans Pro;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #222222;
    display: inline-block;
    cursor: pointer;
 border: 1px solid #222222;
    width: 80px;
    height: auto;
    text-align: center;
    padding: 5px 7px;
    margin-top: 10px;
}
.details-date a{
   font-family: Source Sans Pro;
font-weight: 500;
font-size: 14px;
line-height: 20px;
color: #2AA952;
}
.details-date .rej{
    color: #FF3A44;
}



/*  ORDER DETAILS PAGE>>
 TBOOKINGHISTORY.HTML
*/

.orderdetails-card{

    margin: 10px 17px;
}


.order-card{
    background: #FFFFFF;
    box-shadow: 0px 1px 24px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    padding: 19px 18px;
    margin-top: 20px;

}
.orderdetails-card .title{
    font-family: Source Sans Pro;
font-weight: 600;
font-size: 16px;
line-height: 16px;
color: #222222;
padding: 26px 16px 0px 0px;
}
.order-details h1{
    padding-bottom: 4px;
}
.card-details h1{
    font-family: Source Sans Pro;
font-weight: 600;
font-size: 16px;
line-height: 22px;

color: #151522;
}
.card-details h2{
    
    font-family: Source Sans Pro;
font-weight: normal;
font-size: 11px;
line-height: 13px;
color: #151522;
padding-top: 7px;
padding-bottom: 4px;
}
.card-details h3{
        font-family: Source Sans Pro;
font-weight: normal;
font-size: 11px;
line-height: 13px;
color: #151522;

}
.battery-details h2
{
    font-family: Source Sans Pro;
font-weight: 400;
font-size: 12px;
line-height: 120%;


letter-spacing: 0.02em;

color: #7D7987;
margin: 6px 0px;

}
.battery-details h3{
    font-family: Source Sans Pro;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    
    
    letter-spacing: 0.02em;
    
    color: #7D7987;
    margin: 6px 0px;
}
.battery-img{
    width: 60px;
    max-width: 60px;
    margin-right: 10px;
    border: 1px solid #F7F7F7;
border-radius: 6px;
}
.battery-img img{
width: 100%;
height: auto;
object-fit: contain;
object-position: center center;

}


/* POP-UP SCREENS */

.pop-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}
.pop-btn .details-btn{
    margin: 0px 20px;

}
.pop-btn .details-btn .detailbtn{
    font-family: Source Sans Pro;
    color: #2AA952;
    font-weight: 500;
    border-color: #2AA952;
    border: 1.5px solid #2AA952;
box-sizing: border-box;
border-radius: 10px;
width: 118px;
max-width: 118px;
height: 48px;
min-height: 48px;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

display: flex;
justify-content: center;
align-items: center;
text-align: center;
color: #2AA952;

}

/* POP-UP SCREEN2 */
.btn-popup{
    margin: 35px 17px;
 
}
.btn-popup h1{    font-family: Source Sans Pro;
  
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    
    color: #222222;
}
.btn-popup h2{
    font-family: Source Sans Pro;

    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
padding: 14px 0px;
    
    display: flex;
    align-items: center;
    letter-spacing: 0.44px;
    
  
    
    color: #19191D;
}
.btn-popup .details-btn .detailbtn{

    width: 100%;
    display: block;
    border: 1.5px solid #2AA952;
box-sizing: border-box;
border-radius: 10px;
font-family: Source Sans Pro;
font-style: normal;
font-weight: 600;
font-size:20px;
line-height: 20px;
width: 100%;
margin: 30px 0px 0px 0px;

padding: 16px 25px;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */


align-items: center;
text-align: center;

color: #2AA952;

}
textarea{
    background: #FFFFFF;
    /* White */
    
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 0.375rem 2.25rem 0.375rem 0.25rem;
    line-height: 120%;
    border-color: #FFFFFF;
    border: 1px solid#FFFFFF;
    width: 348px;
    max-width: 348px;
    height: 88px;
    min-height: 88px;
    font-family: Source Sans Pro;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #7D7987;
    border: 1px solid #ffffff;
}