

.pageheading {
margin-bottom: 15px;
width: 100%;
}

ion-card {
  margin-bottom: 20px;
  padding: 15px 20px;
}

ion-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ion-card-title {
  font-size: 17px;
}

ion-card-subtitle {
  font-size: 24px;
  font-weight: 700;
}